<%- include('../partials/head') -%>

<%- include('../partials/nav') -%>

    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">Reports</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Reports</a></li>
                                    <li class="breadcrumb-item active">Tasks Created Reports</li>
                                </ol>
                            </div>

                           

                        </div>
                    </div>
                </div>
                <!-- end page title -->
               

                <!-- end row -->

                
                <!-- end row -->
            </div> <!-- container-fluid -->
        <!-- End Page-content -->



        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Tasks Reports</h4>
                        <p class="card-title-desc">
                        </p>

                        <div class="table-responsive">
                            <table   id="" class="table table-striped table-bordered dt-responsive nowrap datatableReports" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Full Name</th>
                                        <th>PhoneNumber</th>
                                        <th>Address</th>
                                        <th>ContectPersonName</th>
                                        <th>ContactPersonPhone</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    
                        <% if(tasks.length > 0 ){ %>
                            <% let i = 1
                                           
                                        %>
                            <% tasks.forEach(task => { %>
                                    <tr>
                                        
                                        <th scope="row"><%= i %></th>
                                        <td><%= task.taskName %></td>
                                        
                                        <%   if (task.status == "complete")
                                                { %>
                                                    <td><span style="font-size: 12px;" class='badge badge-success'><%= task.status %></span></td>
                                                    <%  }
                                                else
                                                {  %>
                                                   <td><span style="font-size: 12px;" class='badge badge-info'><%= task.status %></span></td>
                                                   <%    }  %>

                                        <td><%= moment(task.startDate).format('hh:mm a MMM DD YYYY') %></td>
                                        <td><%= moment(task.endDate).format('hh:mm a MMM DD YYYY') %></td>
                                        <td><%= task.teamMember %></td>
                                        
                                       <%  i =i+1 %>
                                    </tr>
                                    <% })%>
                                    <% } else {%>
                                        <p>there is no blogs yet.......</p>
                                    <% } %>
                                    
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        
       
    </div>

    <%- include('../partials/footer') -%>