<%- include('../partials/head') -%>

<%- include('../partials/nav') -%>

    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">Cars</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Cars</a></li>
                                    <li class="breadcrumb-item active">register Car</li>
                                </ol>
                            </div>

                           

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12">
                        <div class="card" style="height: 400px;">
                            <div class="card-body">
                                <h4 class="card-title">Car Edit</h4>
                                <p class="card-title-desc"></p>
                                <form class="needs-validation storeRegister" id="placeForm" action="/car/update/<%= car._id %>" method="POST" novalidate>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="validationCustom01">car Name</label>
                                                <input type="text" class="form-control" id="plaseName" placeholder="Car name" name="carName" value="<%= car.carName %>" required>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="validationCustom02">Car Typer</label>
                                                <input type="text" class="form-control" id="validationCustom02" placeholder="Car Type" name="CarType" value="<%= car.CarType %>" required>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-2">
                                            <button class="btn btn-primary mt-3" type="submit">update</button>
                                        </div>
                                        
                                            
                                            <div class="col-md-3">
                                               
                                                <div class="custom-file mb-3">
                                                    
                                                    <input type="file" name="img2" id="file"  class="filepond filepond--item" multiple>
                                                    
                                                  </div>
                                            </div>
                                        
                                        
                                            
                                            <div class="col-md-3">
                                                <div class="custom-file mb-3">
                                                    <input type="file" name="img" id="file"  class="filepond filepond--item" multiple>
                                                    
                                                  </div>
                                            </div>
                                        
                                    </div>
                                        
                                        
                                        <!-- <div class="col-md-3">
                                            <div class="ui field">
                                                <label for="img">Image</label>
                                                <!-- class="filepond filepond--item" -->
                                                <!-- <input type="file" name="img" id="img"  multiple>
                                         
                                                <label for="img">Image</label>
                                                <input type="file" name="img2" id="img"  multiple>
                                            </div>
                                        </div> --> 
                                       
                                    <div class="row"></div>
                                    <br>
                                    <br>
                                    <br>
                                   
                                </form>
                            </div>
                        </div>
                        <!-- end card -->
                    </div> <!-- end col -->

                </div>

                
                <!-- end page title -->
               
          
            <!-- end row -->

            
        </div>
        <!-- End Page-content -->

        
        <!-- <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script> © Skote.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-right d-none d-sm-block">
                            Design & Develop by Themesbrand
                        </div>
                    </div>
                </div>
            </div>
        </footer> -->
    </div>

    <script>
         document.addEventListener('DOMContentLoaded', function () {
            FilePond.registerPlugin(
                FilePondPluginImagePreview,
                FilePondPluginImageResize,
                FilePondPluginFileEncode,
     


            );
            // https://pqina.nl/filepond/docs/patterns/api/filepond-object/#setting-options
            FilePond.setOptions({
                stylePanelAspectRatio: 30 / 50,
                imageResizeTargetWidth: 100,
                imageResizeTargetHeight: 50,
            })
            FilePond.parse(document.body);
        });
        // const form = document.querySelector('.storeRegister');
        // form.addEventListener('submit', async (e) => {
        //     e.preventDefault();
        //     const storeName = form.storeName.value;
        //     const storeMname = form.storeManagerName.value;
        //     const storeMphone = form.storeManagerPhone.value;
        //     const storeLocation1 = form.storeLocation1.value;
        //     const storeLocation2 = form.storeLocation2.value;
            
        //     const storeType = form.storeType.value;
            
        //     try {
        //         const res = await fetch('/store', {
        //             method: 'POST',
        //             body: JSON.stringify({storeName, storeMname, storeMphone, storeType, storeLocation1,storeLocation2}),
        //             headers: {'Content-Type': 'application/json'}
        //         })
                
        //         const data = await res.json();
        //         if(data.store){
        //             location.assign('/store')
        //         }
        //     } catch (err) {
        //         console.log(err)
        //     }
        // });

       
    </script>
    <!-- <script src="/map.js"></script> -->
    <script src="/add.js"></script>
    <%- include('../partials/footer') -%>